<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <link rel="stylesheet" href ="../style/chocolates.css">

</head>
<body>
    <header class="topheader">
        <%- include ("../partials/navbar") %>
      </header>

      <main>
        <section class="destacados">
            <div class="title">
                <!-- <h1> Chocolates </h1> -->
            </div>
        </section>
        <div class="all-products">
            <section class="products">
          <%  for (let i=0; i<buscado.length ; i++) { %>
          
              <article class="products-box">
                  <div class="products-item">
                  <img src = "/images/<%= buscado[i].image %>">
                  <h3><%= buscado[i].name.toUpperCase() %></h3>
                  <button><a href="/chocolates/<%= buscado[i].enlace %>"><%= buscado[i].category %></a></button>
                  
                  </div> 
              </article>
        
          <% } %>
      </section>
      </div>
  </main>

  <%- include ("../partials/footer") %>
    
</body>
</html>